.MuiAppBar-colorPrimary {
  background-color: white!important;
}

.makeStyles-title-1 {
  color: black!important;
}

svg {
  width: 30px;
  cursor: pointer;
}

.container-margin-top {
  margin-top: 125px;
}

.card-padding {
  padding: 15px;
}

.header {
  box-shadow: 0 1px 8px 0 rgb(30 30 30 / 10%);
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
}

.card {
  box-shadow: 0 1px 8px 0 rgb(30 30 30 / 10%);
  border-radius: 8px;
  background-color: #fff;
}

.MuiGrid-container .card-item {
  margin-bottom: 15px;
}

.MuiGrid-container .card-item:last-child {
  margin-bottom: 0;
}

.MuiButton-contained {
  background-color: #f5b800!important;
  color: #fff!important;
  text-decoration: none!important;
}

.MuiButton-outlined {
  text-decoration: none!important;
}

.makeStyles-title-1 {
  margin-left: 78px;
}

h1 {
  margin-top: 0;
}

nav a { text-decoration: none; padding: 0 5px;}
nav a.nav-active { color: #000; }

.footer {
  background: white;
  margin: 60px 0 0px;
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid #eee;
}

.ButtonContained,
.ButtonOutlined {
  text-decoration: none!important;
}

.header a,
.poapman-link {
  color: #f5b800;
  font-weight: bold;
  text-decoration: none;
}

.card-link {
  text-decoration: none;
}

.header a:hover,
.poapman-link:hover {
  text-decoration: underline;
}

.manage-card {
  box-shadow: 0 1px 8px 0 rgb(30 30 30 / 10%);
  border-radius: 8px;
  background-color: #fff;
  margin-top: 20px;
}